.body-content {
    position: relative;
    top: var(--nav-height);
    padding-top: 25px;
    width: 60%;
    justify-self: center;
}

.body-content-list {
    background-color: white;
    border: 1px solid #2222;
    border-radius: 10px;
    padding: 25px;
}

.body-content-title {
    font-size: 25px;
    color: #555555;
    padding-bottom: 15px;
}

.body-content-filter-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.body-content-filter-button {
    background-color: transparent;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;;
    border: 1px solid #999999;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    color: rgb(0 0 0 / .75);
}

.body-content-filter-button:hover {
    border: 2px solid #777777;
    background-color: #1111;
    padding: 4px 14px;
    cursor: pointer;
}

.body-content-filter-button-active {
    background-color: hsl(180, 40%, 60%);
}

.body-content-filter-button-active:hover {
    background-color: hsl(180, 40%, 60%);
}

.body-content-separator {
    border: none;
    border-radius: 3px;
    background-color: #7e7777;
    height: 3px;
    margin: 10px 0; /* Add spacing above and below */
}

.body-content-item-list {
    display: flex;
    flex-direction: column;
}

.body-content-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    border-bottom: #e0dfdf 1px solid;
}

.body-content-item-main:hover {
    cursor: pointer;
}

.body-content-item-main:hover h2 {
    text-decoration: underline;
}

.body-content-item-logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.body-content-item-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
}

.body-content-item-buttons {
    margin-left: auto;
}

.body-content-item-buttons button {
    width: 40px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.body-content-item-buttons button:hover {
    background-color: #1111;
    cursor: pointer;
    border-radius: 50%;
}

.body-content-item-options {
    position: absolute;
    right: 60px;
    display: none;
    flex-direction: column;
    background-color: var(--body-color);
    width: 120px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    border-top-right-radius: 0;
    box-shadow: 4px 4px 4px rgb(0 0 0 / .3);
}

.body-content-item-options a {
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #777777;
}

.body-content-item-options a:hover{
    background-color: #c1c1c1;
}

.body-content-item-main {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

.body-content-item-main * {
    margin-bottom: 5px;
}

.body-content-item-main a {
    font-size: 14px;
    text-decoration: none;
    color: #999999;
}

.body-content-item-main a:hover {
    color: #2e2d2d;
    text-decoration: underline;
}

.body-content-item-main h2 {
    color: #504e4e;
    font-size: 18px;
    font-weight: bold;
}

.body-content-item-main h3 {
    color: #2e2d2d;
    font-size: 16px;
}

.body-content-item-main h4 {
    font-size: 14px;
    color: #999999;
}

.body-content-item-logo-switch {
    display: flex;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.body-content-item-logo-switch:hover {
    filter: blur(1px) grayscale(100%); /* Makes the image blurry and gray */
    transform: scale(1.1); /* Slight zoom-in effect */
}

.body-content-item-logo-switch img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, transform 0.3s ease;
}