:root {
    --nav-height: 53px;
    --white-color: #FFF;
    --body-color: hsl(180, 52%, 96%);
    --primary-color: ;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--body-color);
}